extends ../layout

block content
  h1 Outter Server
  h2 Current Routes for users
    table
      thead
        tr
          td(style='padding: 0px 50px 0px 50px;') Path
          td(style='padding: 0px 50px 0px 50px;') Method
          td(style='padding: 0px 50px 0px 50px;') Used For
      tbody
        tr
          td(style='padding: 0px 50px 0px 50px;') /api/v1/users
          td(style='padding: 0px 50px 0px 50px;') GET
          td(style='padding: 0px 50px 0px 50px;') Display a list of all users
        tr
          td(style='padding: 0px 50px 0px 50px;') /api/v1/user/:id
          td(style='padding: 0px 50px 0px 50px;') GET
          td(style='padding: 0px 50px 0px 50px;') Display a specific user
        tr
          td(style='padding: 0px 50px 0px 50px;') /api/v1/user
          td(style='padding: 0px 50px 0px 50px;') POST
          td(style='padding: 0px 50px 0px 50px;') Create a new user
        tr
          td(style='padding: 0px 50px 0px 50px;') /api/v1/user/:id
          td(style='padding: 0px 50px 0px 50px;') PUT
          td(style='padding: 0px 50px 0px 50px;') Update a specific user
        tr
          td(style='padding: 0px 50px 0px 50px;') /api/v1/user/:id
          td(style='padding: 0px 50px 0px 50px;') DELETE
          td(style='padding: 0px 50px 0px 50px;') Delete a specific user
        tr
          td(style='padding: 0px 50px 0px 50px;') /api/v1/user/login
          td(style='padding: 0px 50px 0px 50px;') POST
          td(style='padding: 0px 50px 0px 50px;') Login as a specific user
  h2 Current Routes for messages
    table
      thead
        tr
          td(style='padding: 0px 50px 0px 50px;') Path
          td(style='padding: 0px 50px 0px 50px;') Method
          td(style='padding: 0px 50px 0px 50px;') Used For
      tbody
        tr
          td(style='padding: 0px 50px 0px 50px;') /api/v1/messages
          td(style='padding: 0px 50px 0px 50px;') GET
          td(style='padding: 0px 50px 0px 50px;') Display a list of all messages
        tr
          td(style='padding: 0px 50px 0px 50px;') /api/v1/message/:id
          td(style='padding: 0px 50px 0px 50px;') GET
          td(style='padding: 0px 50px 0px 50px;') Display a specific message
        tr
          td(style='padding: 0px 50px 0px 50px;') /api/v1/message
          td(style='padding: 0px 50px 0px 50px;') POST
          td(style='padding: 0px 50px 0px 50px;') Create a new message
        tr
          td(style='padding: 0px 50px 0px 50px;') /api/v1/message/:id
          td(style='padding: 0px 50px 0px 50px;') PUT
          td(style='padding: 0px 50px 0px 50px;') Update a specific message
        tr
          td(style='padding: 0px 50px 0px 50px;') /api/v1/message/:id
          td(style='padding: 0px 50px 0px 50px;') DELETE
          td(style='padding: 0px 50px 0px 50px;') Delete a specific message
  h2 Current Routes for messages/to
    table
      thead
        tr
          td(style='padding: 0px 50px 0px 50px;') Path
          td(style='padding: 0px 50px 0px 50px;') Method
          td(style='padding: 0px 50px 0px 50px;') Used For
      tbody
        tr
          td(style='padding: 0px 50px 0px 50px;') /api/v1/messages/to/:id
          td(style='padding: 0px 50px 0px 50px;') GET
          td(style='padding: 0px 50px 0px 50px;') Display a list of all messages to a specific user
        tr
          td(style='padding: 0px 50px 0px 50px;') /api/v1/messages/to/:id/fyis
          td(style='padding: 0px 50px 0px 50px;') GET
          td(style='padding: 0px 50px 0px 50px;') Display a list of all messages to a specific user by category fyis
        tr
          td(style='padding: 0px 50px 0px 50px;') /api/v1/messages/to/:id/questions
          td(style='padding: 0px 50px 0px 50px;') GET
          td(style='padding: 0px 50px 0px 50px;') Display a list of all messages to a specific user by category questions
        tr
          td(style='padding: 0px 50px 0px 50px;') /api/v1/messages/to/:id/responses
          td(style='padding: 0px 50px 0px 50px;') GET
          td(style='padding: 0px 50px 0px 50px;') Display a list of all messages to a specific user by category responses
        tr
          td(style='padding: 0px 50px 0px 50px;') /api/v1/messages/to/:id/action-requests
          td(style='padding: 0px 50px 0px 50px;') GET
          td(style='padding: 0px 50px 0px 50px;') Display a list of all messages to a specific user by category action-requests
  h2 Current Routes for messages/from
    table
      thead
        tr
          td(style='padding: 0px 50px 0px 50px;') Path
          td(style='padding: 0px 50px 0px 50px;') Method
          td(style='padding: 0px 50px 0px 50px;') Used For
      tbody
        tr
          td(style='padding: 0px 50px 0px 50px;') /api/v1/messages/from/:id
          td(style='padding: 0px 50px 0px 50px;') GET
          td(style='padding: 0px 50px 0px 50px;') Display a list of all messages from a specific user