extends ../layout

block content
  h1 Outter Server
  h2 Current Routes for users
    table
      thead
        tr
          td(style='padding: 0px 75px 0px 75px;') Path
          td(style='padding: 0px 75px 0px 75px;') Method
          td(style='padding: 0px 75px 0px 75px;') Used For
      tbody
        tr
          td(style='padding: 0px 75px 0px 75px;') /api/v1/users
          td(style='padding: 0px 75px 0px 75px;') GET
          td(style='padding: 0px 75px 0px 75px;') Display a list of all users
        tr
          td(style='padding: 0px 75px 0px 75px;') /api/v1/user/:id
          td(style='padding: 0px 75px 0px 75px;') GET
          td(style='padding: 0px 75px 0px 75px;') Display a specific user
        tr
          td(style='padding: 0px 75px 0px 75px;') /api/v1/user
          td(style='padding: 0px 75px 0px 75px;') POST
          td(style='padding: 0px 75px 0px 75px;') Create a new user
        tr
          td(style='padding: 0px 75px 0px 75px;') /api/v1/user/:id
          td(style='padding: 0px 75px 0px 75px;') PUT
          td(style='padding: 0px 75px 0px 75px;') Update a specific user
        tr
          td(style='padding: 0px 75px 0px 75px;') /api/v1/user/:id
          td(style='padding: 0px 75px 0px 75px;') DELETE
          td(style='padding: 0px 75px 0px 75px;') Delete a specific user
  h2 Current Routes for messages
    table
      thead
        tr
          td(style='padding: 0px 75px 0px 75px;') Path
          td(style='padding: 0px 75px 0px 75px;') Method
          td(style='padding: 0px 75px 0px 75px;') Used For
      tbody
        tr
          td(style='padding: 0px 75px 0px 75px;') /api/v1/messages
          td(style='padding: 0px 75px 0px 75px;') GET
          td(style='padding: 0px 75px 0px 75px;') Display a list of all messages
        tr
          td(style='padding: 0px 75px 0px 75px;') /api/v1/message/:id
          td(style='padding: 0px 75px 0px 75px;') GET
          td(style='padding: 0px 75px 0px 75px;') Display a specific message
        tr
          td(style='padding: 0px 75px 0px 75px;') /api/v1/message
          td(style='padding: 0px 75px 0px 75px;') POST
          td(style='padding: 0px 75px 0px 75px;') Create a new message
        tr
          td(style='padding: 0px 75px 0px 75px;') /api/v1/message/:id
          td(style='padding: 0px 75px 0px 75px;') PUT
          td(style='padding: 0px 75px 0px 75px;') Update a specific message
        tr
          td(style='padding: 0px 75px 0px 75px;') /api/v1/message/:id
          td(style='padding: 0px 75px 0px 75px;') DELETE
          td(style='padding: 0px 75px 0px 75px;') Delete a specific message
  h2 Current Routes for messages/to
    table
      thead
        tr
          td(style='padding: 0px 75px 0px 75px;') Path
          td(style='padding: 0px 75px 0px 75px;') Method
          td(style='padding: 0px 75px 0px 75px;') Used For
      tbody
        tr
          td(style='padding: 0px 75px 0px 75px;') /api/v1/messages/to/:id
          td(style='padding: 0px 75px 0px 75px;') GET
          td(style='padding: 0px 75px 0px 75px;') Display a list of all messages to a specific user